body {
    margin: 24px auto;
    font-size: 0.8em;
    font-family: Verdana, Arial, Sans-serif;
    width: 800px;
}

.head {
    text-indent: 24px;
    font-size: 30px;
}
.contact {
    font-size: 0.3em !important;
    text-align: right;
}
h2, .subsection {
    color: darkblue;
    margin-top: 8px;
    margin-left: 150px;
    font-size: 1em !important;
    font-weight: normal;
    margin-bottom: 0;
}
h1, .section {
    font-weight: normal;
    font-size: 20px;
    color: darkblue;
    text-indent: 0;
    margin-top: 20px;
}
h1:before, .section::before {
    border: darkblue solid 2px;
    width: 120px;
    content: " ";
    display: inline-block;
    margin: 4px 10px !important;
}

.cventry, .cvitem, .cvdoubleitem {
    margin-left: 150px;
    margin-top: 12px;
}
.cvlist {
    margin-left: 170px;
}
.cvlistdoubleitem {
    margin-left: 158px;
}

.cvitem, .cvdoubleitem {
    margin-top: 2px;
}
.cventry > .title, .cvitem > .desc {
    font-weight: bold;
}

.cvlist {
    list-style: circle outside;
    display: list-item;
}

.cvlistdoubleitem > span:before{ content:"-"; position:relative; left:-6px;}

.cvlistdoubleitem > .item2 {
    margin-left: 200px;
}

.time, .cvitem > .title, .cvdoubleitem > .title1 {
    text-align: right;
    display: block;
    width: 135px;
    margin-left: -150px;
    height: 0px;
}

.cvdoubleitem > .cont1 {
    width: 230px;
    display: inline-block;
}

.cvdoubleitem > .title2 {
    display: inline-block;
    width: 100px;
}
.cvitem > .comment {
    float: right;
}

.cventry > .title, .employer {
    font-style: italic;
}

.cventry .desc {
    display: block;
}


span.i {
    font-style: italic;
}
